<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nit.dao.StudentDao" >

    <resultMap id="studentResultMap" type="com.nit.entity.Student">
        <id property="sId" column="sid"></id>
        <result property="sNum" column="snum"></result>
        <result property="sPwd" column="spwd"></result>
        <result property="sCall" column="scall"></result>
        <result property="sClass" column="sclass"></result>
        <result property="sName" column="sname"></result>
        <result property="cId" column="cid"></result>
        <result property="isDelete" column="isdelete"></result>

    </resultMap>
    <!--登录查询-->
    <select id="findByStuNum" resultType="com.nit.entity.Student" parameterType="String">
        select * from student where snum = #{sNum}
    </select>
    <!--显示所有用户-->
    <!--<select id="queryAllUser" resultMap="userResultMap">-->
        <!--select id,userName,password from userinfor-->
    <!--</select>-->
    <!--用户模糊查询-->
    <!--<select id="findUserByName" resultMap="userResultMap">-->
        <!--select id,userName,password from userinfor where userName LIKE CONCAT(CONCAT('%',#{username},'%'))-->
    <!--</select>-->
    <!--系统内增加用户-->
    <!--<insert id="addUser" parameterType="User">-->
        <!--insert into userinfor (id,userName,password) VALUE (#{id},#{userName},#{password})-->
    <!--</insert>-->
    <!--注册增加新用户-->
    <insert id="registerStudent" parameterType="com.nit.entity.Student">
        insert into student (snum,spwd,scall,isdelete) VALUE (#{sNum},#{sPwd},#{sCall},#{isDelete})
    </insert>
<!---->
    <!--增加修改个人信息-->
    <update id="updateStudentInfo" parameterType="com.nit.entity.Student">
        update student set sclass=#{sClass},sname=#{sName} where snum=#{sNum}
    </update>
    <!--<select id="judgeUser" resultType="User" parameterType="String">-->
        <!--select userName from userinfor where userName = #{userName}-->
    <!--</select>-->
    <!--判断用户名是否重复-->
    <select id="judgeStudent" parameterType="String" resultType="String">
        select stunum from student where stunum = #{stuName}
    </select>


</mapper>

